---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import AboutMe from "../components/AboutMe.astro";
import Home from "../components/Home.astro";
import Education from "../components/Education.astro";
import Technologies from "../components/Technologies.astro";
import Experience from "../components/Experience.astro";

import { getProjects } from "../api/projects.ts";

const projects = await getProjects();
---

<Layout title="Portafolio Anberto - Programador ">
  <main class="py-4 px-2 mx-auto w-full">
    <SectionContainer class="py-10 md:py-0">
      <Home />
    </SectionContainer>

    <SectionContainer id="experience" class="">
      <h2
        class="mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined"
      >
        Experiencia
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects" class="py-32">
      <h2
        class="mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined"
      >
        Proyectos
      </h2>

      <Projects projects={projects} />
    </SectionContainer>

    <SectionContainer id="education" class="pb-10">
      <h2
        class="mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined"
      >
        Educación
      </h2>
      <Education />
    </SectionContainer>
  </main>
</Layout>
