---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

import ProjectsList from "../components/ProjectsList.astro";
---

<Layout title="Portafolio Anberto">
  <main class="px-8 sm:px-0">
    <Header />

    <section
      id="about_me"
      class="py-16 sm:min-h-0 sm:py-12 border-t-2 border-gray-600"
    >
      <h2 class="text-2xl font-bold text-secondary sm:text-4xl">Sobre Mi</h2>
      <p class="font-normal text-gray-200 text-sm sm:text-lg">
        Estudiante en TI, desarrollando proyectos personales, practicando y
        mejorando mis conocimientos en el mundo del desarrollo. Me emociona
        poder crear software que de valor a los usuarios.
      </p>

      <div class="flex flex-col gap-4">
        <div class="mt-4">
          <h3 class="text-morado font-semibold text-xl">Experiencia</h3>
          <ul class="text-white pl-6">
            <li class="list-disc">
              <p class="text-white text-sm font-semibold sm:text-lg">
                Empresa <small class="block text-gray-300 text-xs"
                  >(2021-2024)</small
                >
              </p>
              <div class="pl-2 description">
                <span class="text-gray-300 text-base"
                  >Aquí va la descripción</span
                >
              </div>
            </li>
          </ul>
        </div>
        <div class="mt-4">
          <h3 class="text-morado font-semibold text-xl">Educación</h3>
          <ul class="text-white pl-6">
            <li class="list-disc">
              <p class="text-white text-sm font-semibold sm:text-lg">
                Tecnologías de la información
              </p>
              <small class="block text-gray-300 text-xs font-semibold">(2021-2024)</small>
              <p class="text-gray-300 text-base">
                Universidad Tecnológica de los valles centrales de Oaxaca (
                UTVCO )
              </p>
            </li>
          </ul>
        </div>
        <div class="mt-4">
          <h3 class="text-morado font-semibold text-xl">Lenguajes</h3>
          <ul class="text-white pl-6 list-disc">
            <li class="sm:text-lg">
              <p class="text-white text-sm font-semibold">Español</p>
            </li>
            <li class="sm:text-lg">
              <p class="text-white text-sm font-semibold">Ingles - A1</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section id="portfolio" class="py-16 sm:py-12 border-t-2 border-gray-600">
      <h2 class="text-2xl sm:text-4xl font-bold text-gray-200">Proyectos</h2>
      <p class="block font-semibold text-gray-400 py-2">Trabajos recientes</p>
      <div class="">
        <ProjectsList />
      </div>
    </section>

    <section class="py-16 sm:py-12 border-t-2 border-gray-600">
      <div class="mt-4">
        <h3 class="text-verde text-2xl sm:text-4xl font-bold">
          Tecnologías utilizadas
        </h3>
        <div class="my-2">
          <ul
            class="text-white flex gap-2 flex-wrap font-poppins text-xs sm:text-base"
          >
            <li>JavaScript</li>
            <li>React</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>MySQL</li>
            <li>NodeJs</li>
            <li>Angular</li>
            <li>React Native</li>
            <li>Laravel</li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</Layout>
