---

---

<section class="">
  <h1 class="text-xl font-bold mb-4 text-white">Acerca de Mí</h1>
  <div class="flex flex-col gap-2 text-gray-300">
    <p>
      Desarrollador con experiencia en <span class="text-white font-medium"
        >Python</span
      > y <span class="text-white font-medium">JavaScript</span>, especializado
      en desarrollo web fullstack y bases de datos.
    </p>
    <p>
      <span class="text-cyan-300 font-medium"
        >Actualmente curso el programa ONE (Oracle Next Education)</span
      >, enfocado en Ciencia de Datos.
    </p>
    <p class="text-cyan-300">
      Apasionado por el aprendizaje continuo y la mejora profesional constante.
    </p>
  </div>
</section>
