---

---

<div class="flex flex-col gap-6">
  <p class="w-full">
    Me llamo Luis Anberto. Inicié en la programación creando pequeños sistemas
    en C++, lo que despertó mi interés por el desarrollo de software. Con el
    tiempo empece a desarrollar aplicaciones web completas frontend/backend asi
    como también el modelado de base de datos.
  </p>
  <p>
    <span class="text-cyan-300"
      >Actualmente formo parte del programa ONE (Oracle Next Education)</span
    >, donde sigo la ruta de formación como Científico de Datos.
  </p>
  <p class="text-cyan-300">
    Me encanta aprender y mantenerme actualizado, siempre buscando nuevas formas
    de crecer como desarrollador.
  </p>
</div>
