---
const { link, text } = Astro.props;
---

{
  link !== null ? (
    <a
      href={link || ""}
      target="_blank"
      rel="noreferrer"
      class="inline-flex items-center justify-center gap-2 p-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 max-w-fit rounded-xl hover:text-cyan-100 focus:outline-none focus-visible:outline-none active:bg-black"
    >
      <slot />
      {text && <span />}
    </a>
  ) : (
    ""
  )
}
