---
interface Props {
  languages: { name: LanguageName }[];
}

const { languages }: Props = Astro.props;
import { TAGS } from "../data/data";
type LanguageName = keyof typeof TAGS;
---

<ul
  class="absolute bottom-0 left-2 right-0 flex mb-1 gap-x-2 items-end transition-transform"
>
  {
    languages.map((lenguaje) => {
      const name: string = lenguaje.name.toUpperCase();
      const tag = TAGS[name as LanguageName];

      if (tag) {
        return (
          <li>
            <span
              class={`flex gap-x-1 rounded-full text-xs ${tag.class} py-0.5 px-2 items-center`}
            >
              <tag.icon class="w-4 h-4" />
              {tag.name}
            </span>
          </li>
        );
      } else {
        return (
          <li class="py-1 px-2 text-xs rounded-full bg-gray-200">
            {lenguaje.name}
          </li>
        );
      }
    })
  }
</ul>
<style>
  .animate-scroll {
    animation: scroll 10s linear infinite;
  }

  li {
    transition: transform 0.3s ease;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
