<div class="flex px-1">
  <div class="space-y-6 border-l border-purple-500 pl-4 pt-2">
    <!-- Curso actual -->
    <div class="relative">
      <span
        class="absolute w-2 h-2 bg-purple-500 rounded-full -left-[20px] top-2"
      ></span>
      <div>
        <h3 class="text-lg font-semibold text-cyan-300">
          ONE - Oracle Next Education (G8)
        </h3>
        <p class="text-sm text-gray-400">Ruta de Data Science · En curso</p>
      </div>
    </div>

    <!-- Carrera universitaria -->
    <div class="relative">
      <span
        class="absolute w-2 h-2 bg-purple-500 rounded-full -left-[20px] top-1"
      ></span>
      <div>
        <h3 class="text-lg font-semibold text-cyan-300">
          Ingeniería en Tecnologías de la Información
        </h3>
        <p class="text-sm text-gray-400">
          Universidad Tecnológica de los Valles Centrales de Oaxaca · 2021 -
          2025
        </p>
      </div>
    </div>
  </div>
</div>
