<footer
  class="flex justify-between pb-4 lg:max-w-4xl md:max-w-2xl mx-auto w-full"
>
  <div>
    <h1 class="font-bold text-lg tracking-wide">Anberto</h1>
    <span class="text-gray-300">FullStack Developer</span>
  </div>
  <div>
    <a href="mailto:anbertodev@gmail.com" class="text-white hover:text-azul"
      >Contacto</a
    >
  </div>
</footer>
