---
import LinkedIn from "../icons/LinkedIn.astro";
import SocialIcon from "./SocialIcon.astro";
import Github from "../icons/Github.astro";
import Contact from "../icons/Contact.astro";
---

<div class="max-w-xl">
  <h1
    class="text-text text-5xl font-bold pb-6 flex items-center space-x-8"
  >
    Hola, soy Anberto
  </h1>
  <h2
    class="text-xl  text-balance max-w-[700px] text-textSecondary"
  >
  Ingeniero en Tecnologías de la Información. Desarrollador de software con un fuerte enfoque en desarrollo backend y un poco de front.
  <br />
  
    <br />
  </h2>

  <nav class="flex gap-3 mt-8 flex-wrap">
    <SocialIcon href="https://www.linkedin.com/in/luisanberto/">
      <LinkedIn class="w-6 h-6" />
      LinkedIn
    </SocialIcon>
    <SocialIcon href="https://github.com/anber-02">
      <Github class="w-6 h-6" />
      GitHub
    </SocialIcon>
    <SocialIcon href="mailto:anberdev@gmail.com">
      <Contact  class="w-6 h-6"/>
      Contacto
    </SocialIcon>
  </nav>
</div>