---
const navItems = [
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#projects",
  },
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/#experience",
  },
  {
    title: "Educación",
    label: "educacion",
    url: "/#education",
  },
];
---

<nav
  class="flex px-4 py-2 text-sm font-medium rounded-full justify-center items-center"
>
  <ul class="flex my-auto gap-4 text-base font-medium">
    {
      navItems.map((link) => (
        <a
          class="transition text-white hover:text-blue-400"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </ul>
</nav>
<script>
  // document.addEventListener("astro:page-load", () => {
  const sections = document.querySelectorAll("section");
  const navItems = document.querySelectorAll("ul a");

  const callback = (entries: any[]) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        /**
         * Para cada elemento del menú de navegación, se compara su atributo aria-label con el id del
         * elemento <section> que está interceptando. Si coinciden, se añade la clase CSS "text-purple-500"
         */
        navItems.forEach((item) => {
          if (item.getAttribute("aria-label") == entry.target.id) {
            item.classList.add("text-rojo");
          } else {
            item.classList.remove("text-rojo");
          }
        });
      }
    });
  };

  const observer = new IntersectionObserver(callback, {
    root: null, //indica que el contenedor raíz utilizado para calcular la intersección es el viewport (la ventana del navegador)
    rootMargin: "20px",
    threshold: 0.3, //indica que la función de devolución de llamada se ejecutará cuando el 40% del elemento sea visible en el viewport.
  });

  sections.forEach((section) => {
    observer.observe(section);
  });

  // Cleanup function
  document.onvisibilitychange = () => {
    if (document.visibilityState === "hidden") {
      observer.disconnect();
    } else {
      sections.forEach((section) => {
        observer.observe(section);
      });
    }
  };
  // })
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1); /* shadow-lg */
      border-width: 1px; /* ring-1 */
      border-color: rgba(160, 59, 255, 0.1); /* ring-white/10 */
      backdrop-filter: blur(12px); /* backdrop-blur */
      background-color: rgba(116, 126, 255, 0.2); /* bg-slate-600/50 */
      /* @apply shadow-lg ring-1 backdrop-blur  bg-slate-600/50 ring-white/10; */
    }
  }
</style>
