---

---

<header
  class="max-w-4xl m-auto fixed left-0 right-0 top-0 sm:flex sm:flex-row sm:justify-between sm:items-center px-2 py-2 backdrop-blur-3xl overflow-hidden z-50"
>
  <h3 class="text-white font-semibold text-lg px-2">ANN</h3>
  <nav id="nav" class="text-white sm:bg-opacity-0 flex gap-2">
    <a
      href="#inicio"
      class="inline-block rounded-sm px-2 py-1 cursor-pointer border-b-2 border-secondary hover:bg-blue-900"
      >Inicio</a
    >
    <a
      href="#about_me"
      class="inline-block rounded-sm px-2 py-1 cursor-pointer hover:bg-blue-900"
      >Sobre mi</a
    >
    <a
      href="#portfolio"
      class="inline-block rounded-sm px-2 py-1 cursor-pointer hover:bg-blue-900"
      >Proyectos</a
    >
  </nav>
</header>

<script>
  const anchors = Array.from(
    document.querySelectorAll("#nav a")
  ) as HTMLAnchorElement[];

  const header = document.querySelector("header");
  window.addEventListener("scroll", () => {
    const currentScrollTop =
      window.scrollY || document.documentElement.scrollTop;

    header?.classList.add("border-b-2", "border-gray-600");
    if (currentScrollTop === 0) {
      header?.classList.remove("border-b-2", "border-gray-600");
    }

    // Obtén la posición de desplazamiento vertical
    const scrollY = window.scrollY;
    // Recorre los enlaces y determina cuál está activo
    anchors.forEach((a) => {
      const targetId = a.hash.substring(1);
      const targetElement = document.getElementById(targetId);
      if (targetElement) {
        const targetOffset = targetElement.offsetTop;
        const targetHeight = targetElement.offsetHeight;

        if (scrollY >= targetOffset && scrollY < targetOffset + targetHeight) {
          // El enlace está en la vista
          a.classList.add("border-b-2", "border-secondary");
        } else {
          // El enlace no está en la vista
          a.classList.remove("border-b-2", "border-secondary");
        }
      }
    });
  });
</script>
