---
import Card from "./Card.astro";
import { getProjects } from "../api/projects";

let loading = true;
const projects = await getProjects();
loading = false;
---

<div class="flex flex-col gap-y-16">
  {
    loading ? (
      <div
        class="animate-spin inline-block w-10 h-10 border-[3px] border-current border-t-transparent rounded-full text-rosado"
        role="status"
        aria-label="loading"
      >
        <span class="sr-only">Loading...</span>
      </div>
    ) : (
      projects?.map((project) => {
        return <Card project={project} />;
      })
    )
  }
</div>
