---
import { getProjects } from "../api/projects";
import Project from "./Project.astro";

const projects = await getProjects();
---

<div
  class="grid grid-cols-1 md:grid-cols-6 md:grid-rows-6 h-full w-full md:gap-4 space-y-4"
>
  <!-- PROYECTOS -->
  <div
    class="flex flex-col justify-center items-center bg-blue-950 text-yellow-400 tracking-widest text-3xl font-extrabold md:rotate-180 md:[writing-mode:vertical-rl] rounded-md md:col-start-1 md:row-span-6 md:row-start-1"
  >
    PROYECTOS
  </div>

  <!-- Projects Component -->
  <div class="col-span-5 row-span-6 h-full">
    <div class="columns-1 md:columns-2 gap-4 space-y-4">
      {
        projects?.map((project) => {
          return <Project key={project.id} project={project} />;
        })
      }
    </div>
  </div>
</div>

<style></style>
