---
const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section lg:max-w-4xl md:max-w-2xl mx-auto ${className} w-full  pb-24 scroll-m-20`}
>
  <slot />
</section>