<a
  href={Astro.props.href}
  target="_blank"
  class="rounded-full border text-purple-200 border-cyan-100/50 flex justify-center items-start gap-x-2 px-4 py-2 transition hover:scale-110 hover:bg-slate-600 hover:text-cyan-300"
>
  <slot />
</a>
