<a
href={Astro.props.href}
  target="_blank"
  class="rounded-full border text-rojo border-gray-100/50 flex justify-center items-start gap-x-2 px-4 py-2 transition hover:scale-110 hover:bg-red-300 hover:text-rojo"
>
  <slot />
</a>
