<a
  href={Astro.props.href}
  target="_blank"
  class="flex flex-1 justify-center items-center transition hover:scale-110 cursor-pointer w-full h-full border-2 border-gray-600 rounded-md hover:bg-purple-200/20 p-2"
>
  <slot />
</a>
