---
// Íconos
import Github from "../icons/Github.astro";
import React from "../icons/React.astro";
import Tailwind from "../icons/Tailwind.astro";
import MySQL from "../icons/Mysql.astro";
import NodeJS from "../icons/NodeJS.astro";
import NestJS from "../icons/NestJS.astro";
import Ionic from "../icons/Ionic.astro";
import Angular from "../icons/Angular.astro";
import Typescript from "../icons/Typescript.astro";
import Nextjs from "../icons/Nextjs.astro";
import Django from "../icons/Django.astro";
import Sql from "../icons/Sql.astro";

const categories = {
  Frontend: [
    { name: "ReactJS", icon: React, color: "#61DAFB" },
    { name: "Next.js", icon: Nextjs, color: "#fff" },
    { name: "TailwindCSS", icon: Tailwind, color: "#38BDF8" },
    { name: "Angular", icon: Angular, color: "#DD0031" },
    { name: "Ionic", icon: Ionic, color: "#3880FF" },
    { name: "TypeScript", icon: Typescript, color: "#3178C6" },
  ],
  Backend: [
    { name: "Node.js", icon: NodeJS, color: "#339933" },
    { name: "NestJS", icon: NestJS, color: "#E0234E" },
    { name: "Django", icon: Django, color: "#339933" },
    { name: "MySQL", icon: MySQL, color: "#4479A1" },
    { name: "SQL", icon: Sql, color: "#336791" },
  ],
  Herramientas: [{ name: "GitHub", icon: Github, color: "#fff" }],
};
---

<div class="space-y-6">
  {
    Object.entries(categories).map(([category, items]) => (
      <div>
        <h4 class="text-lg font-bold text-white mb-2">{category}</h4>
        <div class="grid grid-cols-4 gap-4 md:grid-cols-6">
          {items.map(({ name, icon: Icon, color }) => (
            <div class="relative group flex flex-col items-center">
              <Icon
                class="w-8 h-8 transition-transform duration-300 group-hover:scale-125"
                style={`color: ${color}`}
              />
              <span class="text-xs text-white mt-1 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                {name}
              </span>
            </div>
          ))}
        </div>
      </div>
    ))
  }
</div>
